.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  background-color: #0079c1;
  color: white;
  padding: 10px;
  text-align: center;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.map-section {
  flex: 1;
  padding: 10px;
  position: relative;
}

.stats-section {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.site-list ul {
  list-style-type: none;
  padding: 0;
}

.site-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.site-stats {
  margin-top: 20px;
}

.site-stats p {
  margin: 5px 0;
}

